fastapi==0.127.0
uvicorn==0.40.0
SQLAlchemy==2.0.45
# Code formatter
black==25.12.0
# Linter
ruff==0.14.10
# Testing
pytest==8.3.4
# Test coverage
coverage==7.13.0
pytest-cov==7.0.0
# HTTP client for API testing
httpx==0.28.1